@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply antialiased;
    }

    body {
        @apply bg-white text-gov-text font-sans;
    }
}

@layer components {

    /* Accessible focus styles */
    .focus-visible:focus-visible {
        @apply outline-2 outline-offset-2 outline-gov-primary;
    }
}